In [12]:
import geopandas as gpd
from shapely.geometry import Point

In [40]:
df = pd.read_csv("bus-stops-10-06-15.csv")
# Create GeoDataFrame with EPSG:27700
gdf = gpd.GeoDataFrame(
    df,
    geometry=gpd.points_from_xy(df['Location_Easting'], df['Location_Northing']),
    crs="EPSG:27700"
)

In [41]:
post_bar = gpd.GeoSeries([Point(-0.070589, 51.588068)], crs=4326).to_crs(27700)
buffer_2km = post_bar.buffer(1000)
gdf_within_1km = gdf[gdf.geometry.within(buffer_2km.iloc[0])]

In [43]:
# Convert to WGS84 for Leaflet
gdf_within_1km = gdf_within_1km.to_crs("EPSG:4326")

In [44]:
# Export as GeoJSON
gdf_within_1km.to_file("bus_stops.geojson", driver="GeoJSON")

In [45]:
gdf_within_1km

,Stop_Code_LBSL,Bus_Stop_Code,Naptan_Atco,Stop_Name,Location_Easting,Location_Northing,Heading,Stop_Area,Virtual_Bus_Stop,geometry
97,1043,58527,490013739M,TOTTENHAM TOWN HALL,533739.0,189444.0,13.0,9D01,0.0,POINT (-0.07093 51.58799)
221,10942,56465,490013736N,TOTTENHAM POLICE STATION,533778.0,189713.0,5.0,9D02,0.0,POINT (-0.07026 51.59039)
222,10944,57427,490013739N,TOTTENHAM TOWN HALL,533758.0,189438.0,192.0,9D01,0.0,POINT (-0.07066 51.58793)
243,10974,48872,490013233N,ELMHURST ROAD,533634.0,190344.0,140.0,9D12,0.0,POINT (-0.0721 51.5961)
244,10975,57437,490013853L,ELMHURST ROAD,533568.0,190408.0,321.0,9D12,0.0,POINT (-0.07303 51.59669)
...,...,...,...,...,...,...,...,...,...,...
18384,HC139,71349,490004381N,HAIL & RIDE SECTION,533380.0,190366.0,15.0,9C17,1.0,POINT (-0.07576 51.59636)
18386,HC141,48754,490013233W,HAIL & RIDE SECTION STARTS HERE,533574.0,190274.0,231.0,9D19,1.0,POINT (-0.07299 51.59548)
18387,HC142,49956,NaN,HAIL & RIDE SECTION,533165.0,190060.0,255.0,9F09,1.0,POINT (-0.07898 51.59366)
19060,OC618,74883,490014686S,WILLAN ROAD,533122.0,190095.0,355.0,9F09,1.0,POINT (-0.07958 51.59398)
19402,R0307,75830,490013736T,TOTTENHAM POLICE STATION,533803.0,189810.0,183.0,9D03,0.0,POINT (-0.06987 51.59126)